/* * {
outline: 1px solid rgb(255, 0, 0)

} */


#maincontainer {

    /* outline: 1px solid black; */
    width: 90vw; 
    height: 90vh; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#chessboard {

    width: 70dvh;
    height: 70dvh;

    min-height: 50vw;
    min-width: 50vw;
    max-width: 75svh;
    max-height: 75svh;
    /* overflow:auto; */

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */

    justify-content: center;
    align-items: center;

}

#chessboard > div {
    /* outline: solid 3px rgb(255, 0, 0); */
    width: 100%;
    height: 11.1%;
    /* height: 50px; */
    aspect-ratio: 1/1;


    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
}

#chessboard div div {
    /* width: 50px;
    height: 50px; */
    width: 11.1%;
    flex-grow: 1;
    aspect-ratio: 1/1;

    font-size: 5vw;
    color: rgb(0, 0, 139);

    background-color: #458fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

#one div:nth-of-type(even) {
    background-color: rgb(175, 255, 224);
}

#two div:nth-of-type(odd) {
    background-color: rgb(175, 255, 224);
}

#three div:nth-of-type(even) {
    background-color: rgb(175, 255, 224);
}

#four div:nth-of-type(odd) {
    background-color: rgb(175, 255, 224);
}

#five div:nth-of-type(even) {
    background-color: rgb(175, 255, 224);
}

#six div:nth-of-type(odd) {
    background-color: rgb(175, 255, 224);
}

#seven div:nth-of-type(even) {
    background-color: rgb(175, 255, 224);
}

#eight div:nth-of-type(odd) {
    background-color: rgb(175, 255, 224);
}

/* #seven div:nth-of-type(3) {
    background-color: rgb(175, 255, 224);
} */

/* #chessboard div:nth-of-type(even) div:nth-of-type(even) {
    background-color: rgb(175, 255, 224);
}

#chessboard div:nth-of-type(odd) div:nth-of-type(odd) {
    background-color: rgb(175, 255, 224);
} */

.alphabet {

    background-color: white;
    display: flex;
     flex-direction: row;
     /* padding: 50px 10px 10px 10px; */
    
}

    #word div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

    #word div:nth-of-type(2) {
        background-color: rgb(255, 255, 255);
    }

    #word div:nth-of-type(3) {
        background-color: rgb(255, 255, 255);
    }

    #word div:nth-child(4) {
        background-color: rgb(255, 255, 255);
    }

    #word div:nth-of-type(5) {
        background-color: rgb(255, 255, 255);
    }

    #word div:nth-of-type(6) {
        background-color: rgb(255, 255, 255);
    }

    #word div:nth-of-type(7) {
        background-color: rgb(255, 255, 255);
    }

    #word div:nth-child(8) {
        background-color: rgb(255, 255, 255);
    }

    #word div:nth-child(9) {
        background-color: rgb(255, 255, 255);
    }

    #eight div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

    #seven div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

    #six div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

    #five div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

    #four div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

    #three div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

    #two div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

    #one div:nth-of-type(1) {
        background-color: rgb(255, 255, 255);
    }

/* div#word.number {

    background-color: white;
     display: flex;
     flex-direction: column;
     padding: 50px 5px 10px 0px;

     width: 12.5%;
     flex-grow: 1;
     gap: 10%;

    font-size: 6vw;
    color: rgb(0, 0, 139);

    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

} */

/* #chessboard div div:nth-of-type(odd) {
    background-color: blueviolet;


} */






