/* * {
outline: 1px solid magenta
} */

body {

    color: aliceblue;
    margin: 0;
    background-color: #6912f5;
    font-family: "komet", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-image: url(./MEDIA/resized\ purple.png) ;
    /* background-position-y: 0vh;
    background-size: 100vw; */

    /* background-position: top;
    background-position-y: 0vw;
    
    background-repeat: no-repeat; */

    background-size: cover;
    background-position: center;


}


h1 {
    background-color: #340642;
    text-align: center;
    font-size: 35pt;

    font-family: "dark-london", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #e3d1fa;
    letter-spacing: 0.45dvw;
    
    padding-top: 40px;
    padding-bottom: 40px;
}

#allthelinks {

    /* text-align: center; */

    /* background-color: azure;
    opacity: 40%; */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;

    /* color: aliceblue; */
}

a:active {
    color: rgb(122, 59, 158);

}

a:hover {
    color: aliceblue;

}

a:visited {
    color: rgb(224, 207, 250);

}

a:link {
    color: rgb(255, 229, 253);

}

/* #allthelinks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d5a2ff;
  opacity: 0.25;
  z-index: -1; 
  overflow: hidden;
} */

#beginlabs {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

#flex {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#laterlabs {
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: baseline;

}

#notes {
    display: flex;
    flex-direction: column;
    align-items: center;

}