:root {

    font-size: 32pt;
    color: #FFF;

    font-family: "rift", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {

    /* background-color: black;
    background-image: url("../Portfolio/A2_Cross_Content/Graphics/background.jpg");

    background-position: center;
    background-repeat: repeat;
    background-size:contain;
    background-clip: border-box;

    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    /* padding: 10px 10px 0px 10px; */

}


/* --NAVIGATION-------------------------------- */

nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* background: linear-gradient(107deg, #A268AC 4.26%, #2E2453 65.79%); */

    gap: 10px;

    position: sticky;
    /* max-width: 100px; */
    /* max-height: 100px; */
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 0.4rem;
}

nav img {

    max-width: 50px;
    max-height: 50px;
}

nav a {
    border-radius: 7.113px;
    box-shadow: -3.32px 3.32px 1.897px 0 rgba(173, 159, 175, 0.25);
    background: linear-gradient(107deg, #A268AC 4.26%, #2E2453 65.79%);

    font-size: 0.4rem;
    padding: 20px;
    color: aliceblue;

    text-decoration: none;

    /* flex: ; */

}

/* nav a:not(:nth-of-type(1)) {

    display: none;
}

nav a:nth-of-type(1) {
    display: block;
} */

.overlay-menu {

    /* background-color: black;
    background-image: url("../Portfolio/A2_Cross_Content/Graphics/background.jpg");

    background-position: center;
    background-repeat: repeat;
    background-size:contain;
    background-clip: border-box; */

    margin: 0px;
    /* padding: 100px 0px 0px 0px; */

    width: 0vw;
    height: 102vh;

    /* max-width: 500px; */

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;

    /* position: sticky;
    bottom: 10px;
    left: 50%;
    z-index: 2; */

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    font-size: 0.4rem;
    color: var(--secondaryColor);

    transition: ease 0.9s;
    overflow: hidden; */
}

/* #overlay-menu a {

    color: white;
    padding: 20px;

    border-radius: 7.113px;
    box-shadow: -3.32px 3.32px 1.897px 0 rgba(173, 159, 175, 0.25);
    background: linear-gradient(107deg, #A268AC 4.26%, #2E2453 65.79%);

    font-size: 0.5rem;
    color: aliceblue;

    text-decoration: none;
}

.overlay-menu open {
    z-index: 5;


} */

/* #overlay-menu a:nth-of-type(5) {
    padding: 20px;

    position: absolute;
    bottom: 10%;

}

#overlay-menu img {
    max-width: 30px;
    padding: 0px;

} */

/* nav#overlay-menu {

    z-index: 4;
} */

#overlay-menu a:nth-of-type(1) {

    /* position: sticky;
    top: 50%;
    right: 50%;
    transform: translateX(-50%); */

    /* position: relative; */
    /* top: 100px;
    right: 20px; */
}

/* hiddenmenu {
    
} */

/* nav a:link {

   background-color: blueviolet;
   color: aliceblue;

}

nav a:hover {

    background-color: linear-gradient(180deg, #CB9AFF 0%, #B351C2 100%);
    color: rgb(0, 0, 0);
} */

/* -- NAVIGATION END ------------------------------------ */