* {
outline: 1px solid magenta
}

#parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 10px 10px 10px;

}

#username {
    background-color: rgb(255, 137, 69);
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-evenly;
    /* flex-wrap: wrap; */
    /* gap: 90px; */

}

.profileUsername {

    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:left;
}


#profilepic {

    background-color: rgb(0, 9, 138);
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;

}

#userlocation {

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

#el {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


#picture {

    background-color: beige;
    width: 300px;
    height: 50vh;
    border-radius: 10px;
    

}



#caption {
    background-color: aquamarine;
    width: 300px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 10%;
}

#icon {
    background-color: rgb(97, 107, 255);
    width: 20px;
    height: 20px;

}

#left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

#right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;

}

#ovIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;

}

#rightC {

    background-color: black;
    width: 20px;
    height: 20px;
}