* {
outline: 1px solid magenta
}

#parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 65vh;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}

#grey {

    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#username {
    background-color: rgb(255, 255, 255);
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-evenly;
    /* flex-wrap: wrap; */
    /* gap: 90px; */

}

.profileUsername {

    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:left;
}


#profilepic {

    background-color: rgb(218, 218, 218);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;

}

#userlocation {

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

#el {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


#picture {

    background-color:rgb(218, 218, 218);
    width: 300px;
    height: 50vh;
    border-radius: 10px;
    margin: 10px;
    
}



#caption {
    background-color: rgb(255, 255, 255);
    width: 300px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 10%;
}

#icon {
    background-color: rgb(218, 218, 218);
    width: 20px;
    height: 20px;

}

#left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

#right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;

}

#ovIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    padding: 5px ;

}

#rightC {

    background-color: rgb(218, 218, 218);
    width: 20px;
    height: 20px;
}