:root {

    font-size: 24px;
}


#grid-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

img {

    width: 100%;
    height: auto;
}

main {

    display: grid;
    grid: "header header header header"
            "side nav nav nav"
            "side page page page"
            "side footer footer footer";
}

header {

    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {

    grid-area: side;
}

article {

    grid-area: page;
}

footer {

    grid-area: footer;
}

header, article, nav, footer, aside {

    border: 5px solid black;
    padding: 0.7rem;
}