:root {

    font-size: 18pt;
}

#grid-container {

    display: grid;
    grid-template-columns: repeat(1, 1fr minmax(500px,2fr) 1fr);
    background-color: rgb(136, 74, 67);
    gap: 0.5rem;
    padding: 0.5rem;
    grid-auto-flow: auto;

}


#grid-container div {

    /* border: 2px solid black; */
    background-color: rgb(255, 219, 219);
    padding: 0.25rem;


}

/* #grid-container div:nth-of-type(10) {

    grid-column: 4/2;
    grid-row: 3/4 ;

    grid-column: 2/ span 4;
    grid-row: 3 / span 3;

} */