:root {

    font-size: 18pt;
}

#grid-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(255, 191, 184);
    gap: 0.5rem;
    padding: 0.5rem;

}


#grid-container div {

    /* border: 2px solid black; */
    background-color: white;
    padding: 0.25rem;
   


}