:root {

    font-size: 32pt;
    color: #FFF;

    font-family: "rift", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {

    background-color: black;
    background-image: url("../Portfolio/A2_Cross_Content/Graphics/background.jpg");

    background-position: center;
    background-repeat: repeat;
    background-size:contain;
    background-clip: border-box;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 10px 10px 110px 10px;

}

/* position absolute - top 0, other one is right 0, background live stars */

#HOME {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headerGraphic {

    position: absolute;
    max-width: 300px;
    max-height: 300px;
    top: 0px;
    left: 0px;

    z-index: 2;
}

#bottomGraphic {

    position: absolute;
    /* max-width: 50px;
    max-height: 50px; */
    bottom: 0px;
    right: 0px;

    width: 267.015px;
    height: 413.642px;
    /* transform: rotate(-19.709deg); */
    aspect-ratio: 51/79;

    z-index: 3;
}

#logo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#introPic img {
    width: 314px;
    max-width: 100%;
    height: 432px;
    /* aspect-ratio: 157/216; */

    /* position: relative; */

    display: flex;
    justify-content: center;
    align-items: center;

    border: 6px solid #FFF;
    /* background: url(A2_Cross_Content/Graphics/Cross_Marayla_Shallow_DOF_13.jpg) lightgray -39.188px -98px / 112.54% 122.685% no-repeat, conic-gradient(from 180deg at 50% 50%, #F5B7D3 40.021793246269226deg, #2E276C 327.35957622528076deg); */

    z-index: 1;

}

img {

    max-width: 100%;
    
}

.hShadow {
    width: 500px;
    height: 300px;
    transform: rotate(-38.561deg);

    border-radius: 749.961px;
    opacity: 0.56;
    background: linear-gradient(180deg, #CB9AFF 0%, #B351C2 100%);
    filter: blur(144px);

    position: absolute;
    max-width: 250px;
    max-height: 250px;
    top: 0px;
    left: 0px;

    z-index: 1;
}

/* --PROJECTS-------------------------------- */

#PROJECTS {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 80px;
}

    #PROJECTS p {

        margin: 0px;
        font-size: 1.25rem;
    }

    #PROJECTS > div {

        /* align-self: center;
        justify-self: center; */

        width: 70%;
        /* max-height: 300px; */
       
        aspect-ratio: 1/1;
        /* background-color:#A268AC; */




    }
     #PROJECTS img {

        width: 100%;
        height: auto;
        
     }



    #branding {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

        margin: 0px;
    }


    #posters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: 300px;
        padding: 20px;

    }

    #booklets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #UI {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

    }

    #printmaking {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;
        gap: 0px;

    }

/* --NAVIGATION-------------------------------- */

nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* background: linear-gradient(107deg, #A268AC 4.26%, #2E2453 65.79%); */

    gap: 10px;

    position: sticky;
    /* max-width: 100px; */
    /* max-height: 100px; */
    bottom: 30px;
    left: 50%;
    /* transform: translateX(-50%); */

    font-size: 0.25rem;
}

nav img {

    max-width: 25px;
    max-height: 25px;
}

nav a {
    border-radius: 7.113px;
    box-shadow: -3.32px 3.32px 1.897px 0 rgba(173, 159, 175, 0.25);
    background: linear-gradient(107deg, #A268AC 4.26%, #2E2453 65.79%);


    font-size: 0.25rem;

    padding: 0.25rem;

    color: aliceblue;

    /* flex: ; */

}

nav a:not(:nth-of-type(1)) {

    display: none;
}

nav a:nth-of-type(1) {
    display: block;


}

/* hiddenmenu {
    
} */





nav a:link {

   background-color: blueviolet;
   color: aliceblue;

}

nav a:hover {

    background-color: linear-gradient(180deg, #CB9AFF 0%, #B351C2 100%);
    color: rgb(0, 0, 0);
}


footer {

    background: linear-gradient(107deg, #A268AC 4.26%, #2E2453 65.79%);
    padding: 10px;

    /* position: absolute;
    bottom: 0px; */

    margin: 0px;

}

#footerContent {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}


header {

    font-size: 1rem;
}


#content {
    
    font-size: 0.5rem;

}


/* --RESPONSIVE MEDIA--------------------- */


/* styles for ipad/med */
@media screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding: 15px 15px 110px 15px;

    }

    #logo {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;

    }

    #introPic img {
        width: 270px;
        max-width: 100%;
        /* height: 432px; */
        aspect-ratio: 157/216;

        /* position: relative; */

        display: flex;
        justify-content: center;
        align-items: center;

        border: 6px solid #FFF;
        /* background: url(A2_Cross_Content/Graphics/Cross_Marayla_Shallow_DOF_13.jpg) lightgray -39.188px -98px / 112.54% 122.685% no-repeat, conic-gradient(from 180deg at 50% 50%, #F5B7D3 40.021793246269226deg, #2E276C 327.35957622528076deg); */

        z-index: 1;

    }

    img {

        max-width: 100%;
        
    }
    
    #HOME {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 20px 0px;
    }

    #PROJECTS {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        justify-items: center;
        place-items: center;
        

        grid-auto-flow: auto;

        gap: 90px; */
    }

    #PROJECTS > div {

        /* align-self: center;
        justify-self: center; */

        width: 30%;


    }

     #UI {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

        /* transform: rotate(6deg) translate(250px, 10px); */
        transform: rotate(6deg);

        /* position: absolute;
        right: 50%;
        top: 75%; */



    }

    #branding {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

        margin: 0px;
    }


    #posters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #booklets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    #printmaking {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;

    }

    nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    /* max-width: 100px; */
    /* max-height: 100px; */
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
    }


    nav img {

    max-width: 50px;
    max-height: 50px;
    }

nav a {
    border-radius: 7.113px;
    background: linear-gradient(107deg, #A268AC 4.26%, #2E2453 65.79%);

    box-shadow: -3.32px 3.32px 1.897px 0 rgba(173, 159, 175, 0.25);
    

    padding: 0.25rem;

    color: aliceblue;

    /* flex: ; */

}

nav a:not(:nth-of-type(1)) {

    display: block;
}

nav a:nth-of-type(1) {
    display: none;


}

}


/* styles for laptop/lg */
@media screen and (min-width: 992px) {


}

/* styles for computer/xl */
@media screen and (min-width: 1200px) {

}