:root {

    font-size: 18pt;
    color: #FFF;
}

body {

    background-color: black;
    background-image: url("../Portfolio/A2_Cross_Content/Graphics/beautiful-shining-stars-night-sky\ 4.png");

    background-position: center;
    background-repeat: repeat;
    background-size:contain;
    background-clip: border-box;
    
}

#HOME {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introPic img {
    width: 314px;
    max-width: 500px;
    height: 432px;
    /* aspect-ratio: 157/216; */

    display: flex;
    justify-content: center;
    align-items: center;

    border: 6px solid #FFF;
    /* background: url(A2_Cross_Content/Graphics/Cross_Marayla_Shallow_DOF_13.jpg) lightgray -39.188px -98px / 112.54% 122.685% no-repeat, conic-gradient(from 180deg at 50% 50%, #F5B7D3 40.021793246269226deg, #2E276C 327.35957622528076deg); */

}

img {

    max-width: 500px;
    
}

.hShadow {
    width: 500px;
    height: 300px;
    transform: rotate(-38.561deg);

    border-radius: 749.961px;
    opacity: 0.56;
    background: linear-gradient(180deg, #CB9AFF 0%, #B351C2 100%);
    filter: blur(144px);
}


nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    max-width: 100px;
    max-height: 100px;
    bottom: 150px;
    right: 350px;
}

nav div {
    border-radius: 7.113px;
    background: #7A0C8B;
    box-shadow: -3.32px 3.32px 1.897px 0 rgba(173, 159, 175, 0.25);

}


footer {

    background: linear-gradient(107deg, #A268AC 4.26%, #2E2453 65.79%);
    padding: 10px;
}

#footerContent {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}