/* * {
    outline: 2px magenta solid;

} */


/* main {
    display: flex;
    align-items: center;
    justify-content: center; */
    /* background-color: rgb(197, 166, 128);

    width: 600px;
    height: 800px;


} */

.background {

    background-color: rgb(197, 166, 128);
    width: 600px;
    height: 800px;
    /* position: fixed; */
    z-index: 2;
}

.one{
    color: rgb(56, 38, 29);
    font-size: 750pt;
    position: fixed;
    /* max-width: 100px;
    max-height: 100px; */
    bottom: -120px;
    left: -55px;
    /* z-index: 3; */

}


.white-o {

    color: rgb(255, 243, 235);
    font-size: 230pt;
    position: fixed;
    top: 360px;
    left: 230px;


}


.letter-P {
    color: rgb(56, 38, 29);
    font-size: 280pt;
    transform: rotate(-40deg);
    position: fixed;
    top:250px;
    left: 290px;
    /* z-index: 1; */

}

.el {
    font-size: 30pt;
    color: rgb(56, 38, 29);
    position: fixed;
    top:135px;
    left: 330px;
}

.KEST {
    color: rgb(56, 38, 29);
    position: fixed;
    top: 720px;
    left: 325px;

}

.Lizz {
    color: rgb(56, 38, 29);
    position: fixed;
    top: 175px;
    left: 390px;
    border-radius: 50%;
    transform: rotate(25deg);

}

.Roun {
    color: rgb(56, 38, 29);
    background-color: rgb(197, 166, 128);
    font-size: 14pt;
    transform: rotate(40deg);
    position: fixed;
    top: 365px;
    left: 375px;

}